<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8056e8e-8aad-4449-a2bf-6dbce5884669" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f8056e8e-8aad-4449-a2bf-6dbce5884669fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
