<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6c7a7267-ec89-4ef8-8e04-ed09baaaa838" name="Core" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c7a7267-ec89-4ef8-8e04-ed09baaaa838fileName">Core</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Users.json">
    <con:part>
      <con:url>Users.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Users","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/organizations":{"get":{"responses":{"default":{"description":"Default response"}}},"put":{"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"post":{"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"delete":{"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}}},"/users":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://reqres.in/api/users</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="617e5475-26b8-4094-a9a4-6572872f9ab2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
